{% extends 'diagnostics/base.html'%}
{% block content %}
<div class="container">
    <a class="btn btn-outline-primary mb-5" href="{% url 'diagnostics:appointment_create' %}">Записаться</a>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Врач</th>
        <th scope="col">Специальность</th>
        <th scope="col">Дата</th>
        <th scope="col">Время</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.doctor }} </td>
        <td>{{ object.doctor.specialization }}</td>
        <td>{{ object.date }}</td>
        <td>{{ object.time }}</td>
        <td>
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'diagnostics:appointment_detail' object.pk %}"
                       role="button">Просмотр</a>
                <a class="btn btn-primary" href="{% url 'diagnostics:appointment_edit' object.pk %}"
                   role="button">Редактировать</a>
                <a class="btn btn-primary" href="{% url 'diagnostics:appointment_delete' object.pk %}"
                   role="button">Отменить</a>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}