{% extends 'diagnostics/base.html'%}
{% block content %}
{% load my_tags %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Сайт компании медицинской диагностики</h1>
        <h3 class="jumbotron-heading">О компании</h3>
        <p class="lead text-muted">В нашей клинике осуществляется качественная диагностика на экспертном
            оборудовании, лабораторные тесты, проводятся приемы специалистов.
        </p>
        <h3 class="jumbotron-heading">История компании</h3>
        <p class="lead text-muted"> Клиника открыта в 2020 году.  В дальнейшем в рамках холдинга шло развитие новых
            направлений, выделение востребованных медицинских услуг в специализированные центры и отделения,
            расширялась география сети, увеличивалось количество многопрофильных медицинских центров.
        </p>
        <h3 class="jumbotron-heading">Миссия и ценности</h3>
        <p class="lead text-muted"> Наша работа основана на принципах
            доказательной медицины. Наши пациенты получают высококачественную медицинскую помощь, соответствующую
            мировым стандартам, и безупречный уровень сервиса. Мы обеспечили удобный график работы клиники,
            отсутствие очередей и удобную форму записи и просмотр результатов исследований.
        </p>
    </div>

</section>
<div style="width: 430px; height: 600px; overflow: hidden;">
    <img src="media/pictures/00095909600540.jpg " alt="обрезанное изображение"
         style="object-fit: cover; width: 100%; height: 100%;">
</div>

<div class="container mt-5">
    <h3 class="jumbotron-heading">Команда врачей</h3>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for object in random_doctors %}
            <div class="col-4">
                <div class="card shadow-sm">
                    <div style="width: 300px; height: 360px; overflow: hidden;">
                        <img src="{{ object.avatar | media_filter }} " alt="обрезанное изображение"
                             style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h2>{{ object.name}}</h2>
                        <p class="card-text">Специализация: {{ object.specialization }}</p>
                        <p class="card-text"> Стаж: {{ object.experience }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
