{% extends 'diagnostics/base.html'%}
{% block content %}
{% load my_tags %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Сайт компании медицинской диагностики</h1>
        <p class="lead text-muted">
            {% for object in all_companies %}
            {{ object.company }}
            {% endfor %}

        </p>
        <p>
            {% if user.is_authenticated %}
            <a href="{% url 'diagnostics:appointment_create' %}" class="btn btn-primary my-2">Записаться</a>
            {% else %}
            <a href="{% url 'users:login' %}" class="btn btn-primary my-2">Войти</a>
            {% endif %}
        </p>
    </div>

</section>
<div style="width: 430px; height: 600px; overflow: hidden;">
    <img src="media/pictures/00095909600540.jpg " alt="обрезанное изображение"
         style="object-fit: cover; width: 100%; height: 100%;">
</div>
<div class="container mt-5">
    <h2 class="jumbotron-heading">Наши врачи</h2>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for object in random_doctors %}
            <div class="col-4">
                <div class="card shadow-sm">
                    <div style="width: 300px; height: 360px; overflow: hidden;">
                        <img src="{{ object.avatar | media_filter }} " alt="обрезанное изображение"
                             style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <h3>{{ object.name}}</h3>
                        <p class="card-text">Специализация: {{ object.specialization }}</p>
                        <p class="card-text"> Стаж: {{ object.experience }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3 class="jumbotron-heading">Услуги</h3>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Название услуги</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Описание</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for object in all_services %}
    <tr>
        <td>{{ object.service_name }}</td>
        <td>{{ object.price }} руб.</td>
        <td>{{ object.description }}</td>
        <td>
            {% if user.is_staff %}
            <div class="btn-group">
                <a class="btn btn-primary" href="{% url 'diagnostics:service_detail' object.pk %}"
                   role="button">Просмотр</a>
                <a class="btn btn-primary" href="{% url 'diagnostics:service_edit' object.pk %}"
                   role="button">Редактировать</a>
                <a class="btn btn-primary" href="{% url 'diagnostics:service_delete' object.pk %}"
                   role="button">Удалить</a>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{% url 'diagnostics:contacts' %}" class="btn btn-primary my-2">Свяжитесь с нами</a>

{% endblock %}
