{% extends 'diagnostics/base.html'%}
{% block content %}
<div class="container">
    <a class="btn btn-outline-primary mb-5" href="{% url 'diagnostics:service_create' %}">Добавить услугу</a>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Название услуги</th>
        <th scope="col">Стоимость</th>
        <th scope="col">Описание</th>
         <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.service_name }}</td>
        <td>{{ object.price }} руб.</td>
        <td>{{ object.description }}</td>
        <td>
            <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'diagnostics:service_detail' object.pk %}"
                       role="button">Просмотр</a>
                    <a class="btn btn-primary" href="{% url 'diagnostics:service_edit' object.pk %}"
                       role="button">Редактировать</a>
                     <a class="btn btn-primary" href="{% url 'diagnostics:service_delete' object.pk %}"
                        role="button">Удалить</a>
                </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}