<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-white">Меню</h4>
    <ul class="list-unstyled">
        <li><a href="{% url 'diagnostics:index' %}" class="text-white">Главная</a></li>
        <li><a href="{% url 'diagnostics:doctors_list' %}" class="text-white">Наши врачи</a></li>
        <li><a href="{% url 'diagnostics:services_list' %}" class="text-white">Услуги</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'diagnostics:appointments_list' %}" class="text-white">Записи</a></li>
        <li><a href="{% url 'diagnostics:results_list' %}" class="text-white">Результаты исследований</a></li>
        <li><a href="{% url 'users:profile' %}" class="text-white">Профиль</a></li>
        <li><a href="{% url 'users:logout' %}" class="text-white">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
        <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
        {% endif %}
        <li><a href="{% url 'diagnostics:contacts' %}" class="text-white">Контакты</a></li>

    </ul>
</div>